.header {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    transition: box-shadow 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    box-sizing: border-box;
    border-bottom: 1px solid #e6e7e8;
}

.header > .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--menu-width);
    flex-basis: var(--menu-width);
    flex-shrink: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 1.728rem;
    height: inherit;
    line-height: var(--header-height);
    background-color: #14213D;
    color: #f5f8fa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
    box-sizing: content-box;
}
.header > .logo svg {
    height: 3rem;
    width: 3rem;
}


.header > .logo svg:hover, .header > .logo svg:focus {
    animation: birdshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    backface-visibility: hidden;
    transform-origin: top right;
  }
  
  @keyframes birdshake {
    0% { transform: rotate(0); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(2deg); }
    85% { transform: rotate(-2deg); }
    92% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
  }

.header + main {
    padding-top: var(--header-height);
}
